<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 i18n="Web page Header|Main title of Dragon ball page@@pageHeader">
    Welcome to the Dragon ball Super page!
  </h1>
  <p i18n="Page Descriptioi| A description of the Under Construction@@pageDescription">Under Construction...</p>
  <img width="300" alt="Dragonball Super Logo" src="assets/images/official_dragonball_super_logo.png">
  <p></p>
  <p></p>
  <p></p>
  <button type="button" class="btn btn-primary">Change Language to English</button>
  &nbsp;
  <button type="button" class="btn btn-primary">Change Language to Spanish</button>
  &nbsp;
  <button type="button" class="btn btn-primary">Change Language to French</button>
</div>

<router-outlet></router-outlet>
